{% extends "base.html" %}
{% load static from staticfiles %}
{% block content %}


<div class="mt-3">

    <div class="row flex-column-reverse flex-md-row">
        <div class="col-sm-12 col-md-8">
            {% if issues %}
            {% for issue in issues %}
            <div class="card mb-3">
                <div class="box">
                    <div class="card-header text-center">
                        <h3 class="card-title">{{ issue.title }}</h3>
                    </div>
                    <div class="col-md-2 col-sm-4 text-center">
                        {% if issue.image %}
                        <a href="{% url 'issue_detail' issue.id %}"><img class="card-img-top img-circle mt-3"
                                src="{{ MEDIA_URL }}{{ issue.image }}" alt="Profile image"></a>
                        {% else %}
                        <span class="fa-placeholder"><i class="fas fa-bug"></i></span>
                        {% endif %}

                        <p class="mt-3"><span class="boldtext mt-2">Author: </span>{{ issue.author }}</p>
                    </div>
                    <div class="col-sm-12">
                        <p class="card-text">{{ issue.content|truncatewords:60}}</p>
                        <p><a href="{% url 'issue_detail' issue.id %}"
                                class="btn btn-default btn-primary mt-2 ml-2">Read more</a></p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <div class="row mt-2">
                            <div class="col-md-6">
                                <li class="list-group-item list-group-flush"><span class="boldtext">Published on:
                                    </span>
                                    {{ issue.published_date }}
                                </li>
                                <li class="list-group-item list-group-flush"><span class="boldtext">Tag:
                                    </span>{{ issue.tag }}
                                </li>
                            </div>
                            <div class="col-md-6">
                                <li class="list-group-item list-group-flush"><span class="boldtext">Views:
                                    </span>{{ issue.views }}
                                </li>
                                <li class="list-group-item list-group-flush"><span class="boldtext">System Type:
                                    </span>{{ issue.genre }}
                                </li>
                            </div>
                            <div class="col-md-6">
                                <li class="list-group-item list-group-flush"><span class="boldtext mb-2">Request Type:
                                    </span>{{ issue.category }}
                                </li>
                                <li class="list-group-item list-group-flush">
                                    <a href="{% url 'issue_detail' pk=issue.pk %}">Comments:
                                        {{ issue.approved_comments.count }}
                                    </a>
                                </li>
                            </div>
                        </div>
                    </ul>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p>There are no bugs logged yet</p>
            <a href="{% url 'index' %}" class="btn btn-primary ml-2" role="button">
                Cancel</a>
            {% endif %}
        </div>


        <div class="col-sm-12 col-md-4 flex-first mb-sm-3">
            <div class="card">
                <div class="box">
                    <h3 class="card-header">Your Information
                        <i class="fas fa-info-circle"></i>
                    </h3>
                    
                    {% for message in messages %}
                    <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ message }}
                    </div>
                    {% endfor messages %}

                    <div class="card-body">
                        <p>Future Text Here</p>
                        <p><span class="boldtext">My Comments: </span> <span class="badge  badge-pill badge-info">
                                20</span> </p>
                        <p><span class="boldtext">My Bugs: </span> <span class="badge  badge-pill badge-info"> 5</span>
                        </p>
                        <p><span class="boldtext">Votes toward my bugs: </span> <span
                                class="badge  badge-pill badge-info"> 8</span>
                        </p>
                        <p><span class="boldtext">Features in development: </span> <span
                                class="badge  badge-pill badge-info">
                                2</span>
                        </p>
                        <p><span class="boldtext">Features delivered: </span> <span
                                class="badge  badge-pill badge-success">
                                1</span>
                        </p>
                        <form action="{% url 'search' %}" method="get">
                            <input type="text" placeholder="Search for something" name="q">
                            <button type="submit"><i class="fas fa-search"></i> Search</button>
                        </form>
                    </div>
                    <div>
                        <a href="{% url 'new_issue' %}" class="btn btn-default btn-primary mr-2 mb-2 mx-3"> <i
                                class="fas fa-bug"></i> New
                            Bug</a>
                        <a href="#" class="btn btn-default btn-primary mr-2 mb-2 mx-3"> <i
                                class="fas fa-shopping-cart"></i>
                            New
                            Feature</a>
                        {% if user.is_superuser or user.is_staff %}
                        <a href="{% url 'new_post' %}" class="btn btn-default btn-primary mr-2 mb-2 mx-3"><i
                                class="fas fa-blog"></i> New
                            Blog</a>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="pagination justify-content-end mr-2">
                <span class="step-links">
                    {% if issues.has_previous %}
                    <a href="?page=1"><i class="fas fa-angle-double-left"></i> first</a>
                    <a href="?page={{ issues.previous_page_number }}"> previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ issues.number }} of {{ issues.paginator.num_pages }}.
                    </span>

                    {% if issues.has_next %}
                    <a href="?page={{ issues.next_page_number }}">next</a>
                    <a href="?page={{ issues.paginator.num_pages }}">last <i class="fas fa-angle-double-right"></i></a>
                    {% endif %}
                </span>
            </div>
        </div>

    </div>
</div>

{% endblock content %}