.venv
.vscode
.env
.coverage
config.py
mysql
drone.sqlite3
media/
__pycache__
*.code-workspace
*.sqlite3
*.pyc
drone.db
drone.mwb
drone.mwb.bak
drone.mwb.beforefix
secrets/
prod_ocean.yml
prod_ocean2.yml
prod.yml
app-secrets.yml