.venv
.vscode
config.py
__pycache__
db.sqlite3
drone.sqlite3
media/
mysql/
.coverage
*.code-workspace
*.sqlite3
*.pyc
drone.*


# dockerignore
Dockerfile
.env
secrets/
.dockerignore
docker-compose.yml
docker-stack.yml
prod_ocean.yml
prod_ocean2.yml
prod.yml
app-secrets.yml
