{% extends "base.html" %}
{% load static from staticfiles %}

{% block title %}
Password reset successful
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="col-sm-12">
        <div class="card">
            <div class="box">
                <div class="row">
                    <div class="col-sm-10">
                        <h4 class="card-header mb-2">Password Reset:</h4>
                        <p>Your password reset form from Custom Drone is on the way!.<br />
                        You should be receiving it shortly.</p>
                        <p>Please remember to check your spam folder for this mail.</p>
                    </div>
                    <div class="offset-sm-12">
                        <div class="mt-2 regform"><i class="far fa-paper-plane"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}