{% extends 'base.html' %}
{% load static from staticfiles %}

{% block page_title %}
Password Reset Page
{% endblock page_title %}

{% block page_heading %}
Reset Password
{% endblock page_heading %}

{% block content %}
<div class="container mt-5">
    <div class="col-sm-12">
        <div class="card">
            <div class="box">
                <div class="col-sm-10">
                    <p>You're receiving this e-mail because you requested a password reset for your user account at
                        Custom Drone.</p>

                    <p>Please go to the following page and choose a new password:</p>
                    {% block reset_link %}
                    {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
                    {% endblock %}

                    <p>Your username, in case you've forgotten: {{ user.username }}</p>

                    <p>Thanks for using our site!</p>

                    <p>The Custom Drone team.</p>
                </div>
                <div class="offset-sm-12">
                    <h3><i class="fas fa-envelope-open-text"></i>/h3>
                </div>
            </div>
        </div>
    </div>
    {% endblock content %}