{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap4 %}

{% block page_title %}
Password Reset Page
{% endblock page_title %}

{% block page_heading %}
Reset Password
{% endblock page_heading %}

{% block content %}
<div class="container mt-5">
    <div class="col-sm-12">
        <div class="card">
            <div class="box">
                <div>
                    <h4 class="card-header mb-2">Password Reset:</h4>
                </div>
                {% block alert_message %}
                {% endblock alert_message %}
                <form method="post">
                    <p>Please enter your email address</p>

                    {% csrf_token %}

                    {% bootstrap_form form %}
                    <div>
                        <label for="id_email">And your email address again please:</label>

                        {% bootstrap_form form %}

                        <button type="submit" class="btn btn-default btn-primary">Reset Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}