Hello from Custom Drone deBug!

You're receiving this email because you requested a password reset for your user account at {{ site_name }}.

Please click the link below to reset your password:
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

If clicking the link doesn't work, copy and paste the URL into your browser.

Your username: {{ user.get_username }}

This link will expire in 1 hour for security reasons.

If you didn't request this password reset, please ignore this email. Your password won't change until you create a new one.

Thanks,
The Custom Drone deBug Team
