{% extends "base.html" %}
{% load static from staticfiles %}

{% block title %}
Password reset successful
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="col-sm-12">
        <div class="card">
            <div class="box">
                <div class="row">
                    <div class="col-sm-10">
                        <h4>Password Reset:</h4>
                        <p>We've e-mailed you instructions for re-setting your Custom Drone account password, to the
                            e-mail
                            address that you provided.</p>
                        <p>You should be receiving it shortly.</p>
                    </div>
                    <div class="offset-sm-12">
                        <h3><i class="far fa-paper-plane"></i></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}