{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-2 col-sm-3 text-center">
            <a class="story-img" href="#">
                <img src="/media/img/profile.png" class="img-circle" alt="Profile image">
                <p><span class="boldtext">Author:</span>{{ post.author }}</p>
        </div>
        <div class="col-sm-10 col-md-9">
            {% if post.img %}
            <img src="/media/{{ post.image }}" alt="Post image" class="img-blogpost">
            {% endif %}
        </div>
        <h3>{{ post.title }}</h3>
        <div class="row">
            <div class="col-xs-9">
                <p>{{ post.content}}</p>
                <p><span class="boldtext">Published on:</span>{{ post.published_date }}</p>
                <p><span class="boldtext">Views:</span>{{ post.views }}</p>
                <p><span class="boldtext">Tag:</span>{{ post.tag }}</p>
                <a href="{% url 'get_posts' %}" class="btn btn-default">Back to blog</a>
                <a href="{% url 'edit_post' post.id %}" class="btn btn-default">Edit Post</a>
            </div>
        </div>
    </div>
 
{% endblock content %}