{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="col-md-2 col-sm-3 text-center">
                    <a class="story-img" href="#">
                        <img class="card-img-top img-circle mt-3" src="{{ MEDIA_URL }}{{ post.image }}" alt="Profile image"></a>
                    <p><span class="boldtext">Author: </span>{{ post.author }}</p>
                </div>

                <div class="col-sm-10 col-md-9">
                    {% if post.img %}
                    <img src="/media/{{ post.image }}" alt="Post image" class="img-blogpost">
                    {% endif %}

                    <h3 class="card-title">{{ post.title }}</h3>
                    <div class="row">
                        <div class="col-sm-9">
                            <p class="card-text">{{ post.content|truncatewords:30}}</p>
                            <p><span class="boldtext">Published on: </span>{{ post.published_date }}</p>
                            <p><span class="boldtext">Views: </span>{{ post.views }}</p>
                            <p><span class="boldtext mb-2">Tag: </span>{{ post.tag }}</p>
                            <a href="{% url 'get_posts' %}" class="btn btn-default btn-primary mr-2 mb-2">Back to blog</a>
                            <a href="{% url 'edit_post' post.id %}" class="btn btn-default btn-primary mr-2 mb-2">Edit
                                Post</a>
                            <a class="btn btn-default btn-primary mb-2" href="{% url 'add_comment_to_post' pk=post.pk %}">Add
                                comment</a>
                        </div>
                    </div>
                    {% for comment in post.comments.all %}
                    {% if user.is_authenticated or comment.approved_comment %}
                    <div class="row">
                        <div class="col-sm-9">
                            <p><span class="boldtext">Comment by: </span><strong>{{ comment.author }}</strong></p>
                            <p class="card-text">{{ comment.comment|linebreaks }}</p>
                            <div class="date">
                                <p><span class="boldtext">Published on: </span>{{ comment.created_date }}</p>
                                {% if not comment.approved_comment %}
                                <a class="btn btn-default btn-primary mr-2 mb-2" href="{% url 'comment_remove' pk=comment.pk %}"><i
                                        class="far fa-times-circle"><span> Remove</span></i></a>
                                <a class="btn btn-default btn-primary mb-2" href="{% url 'comment_approve' pk=comment.pk %}"><i
                                        class="far fa-check-circle"><span> Approve</span></i></a>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% empty %}
                    <div class="row">
                        <div class="col-sm-9">
                            <p>No comments yet</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}