{% block _asside %}
<div class="col-sm-12 col-md-4 flex-first mb-sm-3">
    <div class="card">
        <div class="box">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-10">
                        <h3>Your Information</h3>
                    </div>
                    <div class="offset-sm-12">
                        <h3><i class="fas fa-info-circle ml-2"></i></h3>
                    </div>
                </div>
            </div>
            {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
            {% endfor messages %}
            <div class="card-body">
                <p>Future Text Here</p>
                <p><span class="boldtext">Total Comments: </span> <span class="badge  badge-pill badge-info">
                        {{ total_comments }}</span> </p>
                <p><span class="boldtext">Votes for Bugs: </span> <span class="badge  badge-pill badge-info">
                        {{ votes_counted }}</span>
                </p>
                <p><span class="boldtext">Votes for Features: </span> <span class="badge  badge-pill badge-info">
                        {{ feature_votes_counted }}</span>
                </p>
                <p><span class="boldtext">Features in development: </span> <span class="badge  badge-pill badge-info">
                        {{ features }}</span>
                </p>
                <p><span class="boldtext">Features sold: </span> <span class="badge  badge-pill badge-success">
                        {{ sold }}</span>
                </p>
                <form action="{% url 'search' %}" method="get">
                    <input type="text" placeholder="Search for something" name="q" value="{{ request.GET.q }}">
                    <button class="mt-2" type="submit"><i class="fas fa-search"></i> Search</button>
                </form>
            </div>
            <div>
                <a href="{% url 'new_issue' %}" class="btn btn-default btn-primary mr-2 mb-2 mx-3"> <i
                        class="fas fa-bug"></i> New
                    Bug</a>
                {% if user.is_superuser or user.is_staff %}
                <a href="{% url 'new_post' %}" class="btn btn-default btn-primary mr-2 mb-2 mx-3"><i
                        class="fas fa-blog"></i> New
                    Blog</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="pagination justify-content-end mr-2">
        <span class="step-links">
            {% if posts.has_previous %}
            <a href="?page=1{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"><i
                    class="fas fa-angle-double-left"></i> first</a>
            <a href="?page={{ posts.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">
                previous</a>
            {% endif %}

            <span class="current">
                Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
            </span>

            {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>
            <a href="?page={{ posts.paginator.num_pages }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">last
                <i class="fas fa-angle-double-right"></i></a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock _asside %}