<div class="col-sm-12 col-md-4 flex-first mb-sm-3">
    <div class="card">
        <div class="box">
            <h3 class="card-header">Your Information
                <i class="fas fa-info-circle"></i>
            </h3>
            {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
            {% endfor messages %}
            <div class="card-body">
                <p>Future Text Here</p>
                <p><span class="boldtext">My Comments: </span> <span class="badge  badge-pill badge-info"> 20</span>
                </p>
                <p><span class="boldtext">My Bugs: </span> <span class="badge  badge-pill badge-info"> 5</span> </p>
                <p><span class="boldtext">Votes toward my bugs: </span> <span class="badge  badge-pill badge-info">
                        8</span>
                </p>
                <p><span class="boldtext">Features in development: </span> <span class="badge  badge-pill badge-info">
                        2</span>
                </p>
                <p><span class="boldtext">Features delivered: </span> <span class="badge  badge-pill badge-success">
                        1</span>
                </p>
                <form action="{% url 'search' %}" method="get">
                    <input type="text" placeholder="Search for something" name="q" value="{{ request.GET.q }}">
                    <button type="submit"><i class="fas fa-search"></i> Search</button>
                </form>
            </div>
            <div>
                <a href="{% url 'new_issue' %}" class="btn btn-default btn-primary mr-2 mb-2 mx-3"> <i
                        class="fas fa-bug"></i> New
                    Bug</a>
                <a href="#" class="btn btn-default btn-primary mr-2 mb-2 mx-3"> <i class="fas fa-shopping-cart"></i>
                    New
                    Feature</a>
                {% if user.is_superuser or user.is_staff %}
                <a href="{% url 'new_post' %}" class="btn btn-default btn-primary mr-2 mb-2 mx-3"><i
                        class="fas fa-blog"></i> New
                    Blog</a>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="pagination justify-content-end mr-2">
        <span class="step-links">
            {% if posts.has_previous %}
            <a href="?page=1{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"><i
                    class="fas fa-angle-double-left"></i> first</a>
            <a href="?page={{ posts.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">
                previous</a>
            {% endif %}

            <span class="current">
                Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
            </span>

            {% if post.has_next %}
            <a href="?page={{ posts.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>
            <a href="?page={{ posts.paginator.num_pages }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">last
                <i class="fas fa-angle-double-right"></i></a>
            {% endif %}
        </span>
    </div>
</div>