{% block _cart %}
<div class="col-sm-12 col-md-4 ml-md-auto flex-first mb-sm-3">
    <div class="card">
        <div class="box">
            <div class="card-header">
                <div class="row">
                    <div class="col-xs-10">
                        <h3>Features Cart</h3>
                    </div>
                    <div class="ml-auto">
                        <div class="regform"><i class="fas fa-shopping-cart"></i></div>
                    </div>
                </div>
            </div>
            {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
            {% endfor messages %}
            <div class="card-body">
            <h4>Everything in one place:</h4>
                <p>The items that you have chosen to purchase will be kept here, safe thill you choose to checkout or update your shopping cart.</p>
                <p>Use the search bar below to search for features.</p>
                <p>When you add and item, it will appear here.</p>
                <p>Items ordered will be sent to the address provided at checkout.</p>
               
                <form action="{% url 'search' %}" method="get">
                    <input type="text" placeholder="Search for something" name="q" value="{{ request.GET.q }}">
                    <button class="mt-2 btn-primary" type="submit"><i class="fas fa-search"></i> Search</button>
                </form>
            </div>
            <div>
                <a href="{% url 'new_issue' %}" class="btn btn-default btn-primary mr-2 mb-2 mx-3"> <i
                        class="fas fa-bug"></i> New
                    Bug</a>
                {% if user.is_superuser or user.is_staff %}
                <a href="{% url 'new_post' %}" class="btn btn-default btn-primary mr-2 mb-2 mx-3"><i
                        class="fas fa-blog"></i> New
                    Blog</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}