{% extends "base.html" %}
{% load static from staticfiles %}

{% block content %}


    <div class="container text-center mt-5">
        <h1>Custom Drone</h1>
    </div>
    <div class="container text-center">
        <p>Specialists in developing high-tech drone navigation systems.</p>
    </div>
    <div class="container text-center mt-5">
        <ul class="list-group">
            <li class="list-group-item">Whether your drones are used for search and rescue</li>
            <li class="list-group-item">Disaster relief</li>
            <li class="list-group-item">Commercial or Scientific Exploration</li>
            <li class="list-group-item">Construction, Inspection</li>
            <li class="list-group-item">Areal Surveillance</li>
            <li class="list-group-item">or Recreational use</li>
        </ul>
    </div>
    <div class="container text-center mt-5">
        <p>If you have a bug with your Custom Drone's features, log it with us and we will do our best to solve it.</p>
        <p>If you have an idea for a new feature, post it as a new feature request in our issues section and our developers will assess the request.  If we think its possible, we will working on
            making your request a reality.</p>
    </div>

{% endblock content %}