/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*                              Milestone 5 Project                          */
/*                               Custom Style Sheet                          */
/*                                                                           */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body, html {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    height: 100%;
}

.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.badge-info {
  color: #000;
  background-color: #eda419;
}
/* Bootstrap button */
.btn_small {
  height: 24px;
  width: 60px;
  line-height: 24px;
  margin: 5px 5px;
  padding: 0 0.5em;
}

.footer {
  position: relative;
  display: block;
  bottom: 0;
  width: 100%;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*                         Bootstrap card customization                      */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.task-start i {
  color: #da5863;
}

.task-inprogress i {
  color: #daad58;
}

.task-complete i {
  color: #58da5d;
}

.card-img-top {
 border-radius: calc(1.25rem - 1px);
}

.card:hover {
  box-shadow:0 30px 70px rgba(0,0,0,.2);
}

.card .box {
  left:0;
  text-align:left;
  padding:20px;
  box-sizing:border-box;
  width:100%;
}

.card .box .img {
  width:120px;
  height:120px;
  margin:0 auto;
  border-radius:50%;
  overflow:hidden;
}

.card .box .img img { 
  width:100%;
  max-width: 300px;
  height:auto; 
}

.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.editor-toolbar {
  background-color: #ffffff;
}

.fa-placeholder {
  font-size: 60px;
  color: #f07474;
}

.regform i {
  font-size: 30px;
  padding: 0;
  display: block;
  margin-top: 4px;
  align-content: center;
}

hr {
  border-color: aliceblue;
}

.img img {
  max-width: 240px;
  width: 100%;
}

.list-group-item {
  margin-left: -0.5rem;
}

p > img {
  width: 100%;
  max-width: 300px;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*                              Media Queries                                */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
@media only screen and (min-width:320px) {
.title-partial {
  font-size: 10px;
  }
.list_partial{
 font-size: 10px;
  }
.card .box {
  padding: 15px;
  }
}

@media only screen and (min-width:768px) {
  .title-partial {
    font-size: 14px;
    }
  .list_partial{
    font-size: 12px;
    }
  }

@media screen and (min-width: 576px) {
  .col-xs-12 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 100%;
  }
}

  @media screen and (min-width: 320px) {
    .col-xs-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 50%;
        width: 100%;
        max-width: 100%;
        padding: 0
    }
}