/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*                              Milestone 4 Project                          */
/*                               Custom Style Sheet                          */
/*                                                                           */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* Bootstrap card customization */
.card-img-top {
 border-radius: calc(1.25rem - 1px);
}

.card:hover {
  box-shadow:0 30px 70px rgba(0,0,0,.2);
}

.card .box {
  left:0;
  text-align:left;
  padding:20px;
  box-sizing:border-box;
  width:100%;
}

.card .box .img {
  width:120px;
  height:120px;
  margin:0 auto;
  border-radius:50%;
  overflow:hidden;
}

.card .box .img img {
  width:100%;
  height:100%; 
}

hr {
  border-color: aliceblue;
}
