{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block page_title %}
Registration
{% endblock page_title %}

{% block page_heading %}
User Registration
{% endblock page_heading %}


{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-sm-12">
        <div>
                <h4>New User Registration:</h4>
        </div>
            <div>
                <p>If you have already registered, please login in <a href="{% url 'login' %}">here</a></p>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form method="POST">
                        {% csrf_token %}
                        {{ registration_form | crispy}}
                        <!-- .as_p render this a paragraph -->
                        <button type="submit" class="btn btn-default btn-primary">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}