{% extends "base.html" %}
{% load bootstrap4 %}
{% block page_title %}
Authorized User Home Page
{% endblock page_title %}

{% block page_heading %}
Home
{% endblock page_heading %}

{% block content %}
<div class="container mt-5">
            <div class="card">
            <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12 col-md-9">
                <div>
                    <h3 class="mx-3">{{ user }}'s User Profile:</h3>
                </div>

                {% for field in form %}
                {{ field.error }}
                {% endfor %}

                {% block alert_message %}
                {% endblock alert_message %} 
                <div class="col-sm-12">
                 <form method="POST">
                    {% csrf_token %}
                    {%  bootstrap_form username_form  %}
                    {%  bootstrap_form userbio_form  %}
               
                    <button type="submit" class="btn btn-default btn-primary mb-4">Update</button>
                </form>
                </div>
                <div class="row">
                    {% if profile %}
                    <div class="col-sm-12">
                        <ol>
                            <li>First Name: {{ profile.first_name }}</li>
                            <li>Last Name: {{ profile.last_name }}</li>
                            <li>Email: {{ profile.email }}</li>
                            <li>Last Logged in: {{ profile.last_login }}</li>
                            <li>Date Joined: {{ profile.date_joined }}</li>
                            <li>Is Staff: {{ profile.is_staff }}</li>
                            <li>Is Active: {{ profile.is_active }}</li>
                        </ol>
                        {% else %}
                        <ol>
                            <li>The List is empty</li>
                        </ol>
                    </div>
                    {% endif %}               
                    {% if user.is_superuser or user.is_staff %}
                    <div>
                        <h4 class="mx-3">Admin Blog Entry</h4>
                        <a href="{% url 'new_post' %}" class="btn btn-default btn-primary mr-2 mb-2 mx-3">New
                            Post</a>
                        </div>
                    {% endif %}
                    <div>
                        <h4 class="mx-3">New issue</h4>
                        <a href="{% url 'new_issue' %}" class="btn btn-default btn-primary mr-2 mb-2 mx-3">New
                            Post</a>
                        </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>

{% endblock content %}