{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap4 %}
{% block page_title %}
Login
{% endblock page_title %}

{% block page_heading %}
Confirm Delete
{% endblock page_heading %}

{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-sm-12">
            <div class="card mb-3">
                <div class="box">
                    <div>
                        <h4>Status Update</h4>
                    </div>
                    
                    <div class="row">
                        <div class="col-sm-12">
                            <form method="POST" action=".">
                                    <p>Author: {{ issue.author }}</p>
                                {% csrf_token %}
                                {% for field in form %}
                                {% bootstrap_field field %}
                                {% endfor %}
                                <input type="submit" value="Confirm" class="btn btn-default btn-warning mr-2">
                                <a href="{% url 'issue_detail' issue.id %}" class="btn btn-default btn-primary">Return to
                                    post</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}